<template lang="pug">
.home
  p
    | lorem ipsum. asdfasfsfa. asfsaf. sadfsadf.
    br
    a(href='/home') {{ slogan }}
</template>

<script>
export default {
  name: 'home',
  data: () => ({ slogan: 'This is my home' })
}
</script>
