<template lang="pug">
div
  h1 {{ greeting }}
  Home
</template>

<script>
import Home from './components/Home.vue'

export default {
  name: 'app',
  data: () => ({ greeting: 'HELLO WORLD' }),
  components: {
    Home
  }
}
</script>
